.toastr-success {
  width: 290px;
  height: 90px;
  border: 1px solid var(--main-color);
  background: rgb(48, 226, 145, 0.15);
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 2.5rem;
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-family: worksans-semibold;
  font-size: 1rem;
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-duration: 0.3s;
  animation-delay: 0.3s;
  cursor: pointer;
}

.toastr-error {
  width: 290px;
  height: 90px;
  border: 1px solid var(--alert-color);
  background: rgb(193, 17, 17, 0.25);
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 2.5rem;
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--alert-color);
  font-family: worksans-semibold;
  font-size: 1rem;
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-duration: 0.3s;
  animation-delay: 0.3s;
  cursor: pointer;
}
